[submodule "packages/helm"]
	path = packages/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "packages/ido-at-point"]
	path = packages/ido-at-point
	url = https://github.com/katspaugh/ido-at-point.git
[submodule "packages/go-mode"]
	path = packages/go-mode
	url = https://github.com/dominikh/go-mode.el.git
[submodule "packages/pandoc-mode"]
	path = packages/pandoc-mode
	url = https://github.com/joostkremers/pandoc-mode.git
[submodule "packages/scss-mode"]
	path = packages/scss-mode
	url = https://github.com/antonj/scss-mode
[submodule "packages/magit"]
	path = packages/magit
	url = https://github.com/magit/magit.git
[submodule "packages/git-modes"]
	path = packages/git-modes
	url = https://github.com/magit/git-modes.git
